/* Main body */
body {
     background:#fff
     top center repeat-y; 
     color:#404040; 
     font: Lucida Console,Arial,sans-serif;
     margin:0 auto; 
     }

/* wrapper */
#wrap {
      background:#000;
      color:#404040; 
      width:800px;
      }

/* Header */
#header {
        background-color:#404040; 
        width:600px;
        margin:0 100px 0 100px;
        text-align:center;
        border-bottom:5px solid #84FFF8;
        }
#header h1 {
        color:#fff;
        outline-color: #404040;
        outline-width: thick;
        float:left;
        margin-top:6px;
        font-size:1.2em; 
        font-weight:700;
        width:200px;
        }
#header h1 a {
        color:#fff;
        outline-color: #404040;
        outline-width: thick;     
        float:left;  
        font-size:1.2em; 
        font-weight:700; 
        width:200px;

        }
#header h1 a:hover {
        color:#84FFF8;
        outline-color: #404040;
        outline-width: thick;
        float:left;  
        font-size:1.2em; 
        font-weight:700;
        width:200px;
        }

/* Main content */
#content {
         text-align:justify;
         line-height:1.5em; 
         margin:0 50px 3px; 
         width:700px;
         }
#content h2 {
         font-size:1.1em; 
         margin:0 0 10px;
         }
#content h3 {
         font-size:1.1em;
         margin:0 0 8px;
         }
#content img {
         background:#fff; 
         display:inline;
         }

/* Footer */
#footer {
        background:#fff; 
        clear:both; 
        color:gray; 
        margin:0 auto; 
        padding:10px 0; 
        text-align:center; 
        width:760px; 
        line-height:1.5em; 
        font-size:0.9em;
        }
#footer p {margin:0; padding:0;}
#footer a {background-color:#fff; color:gray; font-weight:400; text-decoration:none;}
#footer a:hover {text-decoration:underline;}
#footer span {font-size:1.2em;}


/* Basic tags */
a {
    background-color:inherit;
    color:#770000;
    font-weight:700;
    text-decoration:none;
}
a:hover {
    background-color:inherit;
    color:#A60000;
    text-decoration:none;
}
a img {
    border:0;
}
